html, body {
  margin:0;
  padding:0;
  font-family:Helvetica, Arial, sans-serif;
  background: none;
	color: #FFF;
}

html {
    background: url(signup_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {

  text-align: center;
  width:450px;
  margin-top: 30px;
}

a{
  font-weight: bold;
  color: yellow;
}
